<app-basic-page title="Shopping Cart Example"
  ><div class="mb-4">
    @for (item of cart(); track item.id) {
    <div class="flex justify-between items-center mb-2">
      <span>{{ item.name }} </span>
      <span>{{ item.price }}€/u. </span>
      <span>Quantity {{ item.quantity }}</span>
      <span>TOTAL: {{ item.quantity * item.price }}€</span>
      <div class="space-x-2">
        <button
          (click)="updateQuantity(item.id, -1)"
          class="cursor-pointer w-8 px-2 py-1 bg-red-600 hover:bg-red-700 text-white rounded"
        >
          -
        </button>
        <button
          (click)="updateQuantity(item.id, 1)"
          class="cursor-pointer w-8 px-2 py-1 bg-green-600 hover:bg-green-700 text-white rounded"
        >
          +
        </button>
      </div>
    </div>
    }
  </div>
  <div class="border-t pt-4 border-gray-300">
    <p class="font-bold text-xl text-right">Total Items: {{ totalItems() }}</p>
    <p class="font-bold text-xl text-right">Total Price: {{ totalPrice() }}€</p>
  </div></app-basic-page
>
